.section1 {
  padding-top: 3em;
  background: url("/img/backgroundbloom.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.section1 h5 {
  color: #0a6b8b;
}
.section1 .col {
  padding-right: 4em;
}
.section2 {
  margin-top: 3em;
}
.section2 h2 {
  margin-bottom: 2em;
  border: violet;
}
.section2 .col h6 {
  border-bottom: 2px #016ea3 solid;
  padding-bottom: 2em;
}
.col li {
  margin-bottom: 1em;
  list-style-type: none;
}
.section3 {
  padding: 3rem;
  background: #f1f1f1;
}
.section3 h1 {
  margin-bottom: 2rem;
}
.section3 p {
  width: 70%;
  line-height: 2.5;
}
