.footer {
  background: #016ea7;
  padding: 1em;
  color: #ffffff;
}
.copyright1 {
  line-height: 2px;
  padding-top: 20px;
}
.copyright2 {
  padding-top: 20px;
}
.footerlinks {
  margin-top: 20px;
}
.footerlinks ul Li {
  padding-bottom: 20px;
}
