.footer {
  background: #016ea7;
  padding: 1em;
  color: #ffffff;
}
.copyright1 {
  line-height: 2px;
  padding-top: 20px;
}
.copyright2 {
  padding-top: 20px;
}
.footerlinks {
  margin-top: 20px;
}
.footerlinks ul Li a {
  padding-bottom: 12px;
  color: white;
}
.footerlinks ul Li a:hover {
  color: #6cdbfe;
}
.footerlinks p {
  line-height: 2;
}
