.hero {
  display: grid;
  justify-content: left;
  align-content: center;
  min-height: 400px;
  width: 100%;
  padding: 0 50px;
  background: url("../public/img/bloom\ banner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: #ffffff;
}
.hero::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 400px;
  background-image: linear-gradient(120deg, #0a0a08, #0a1114);
  opacity: 0.5;
}
.hero span {
  color: #ffffff;
  font-size: 1em;
  font-weight: 100;
}
.hero h1 {
  color: #ffffff;
  font-weight: 700;
  text-transform: uppercase;
  z-index: 5;
  margin-top: 80px;
}
.hero p {
  z-index: 5;
}

.hero div button a {
  color: #252424;
  z-index: 10;
  text-decoration: none;
  margin: 2px 5px;
}
.headerbtn {
  display: block;
  z-index: 20;
}
